@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>k-EAT-o</h1>
    <p class="lead">k-EAT-o is an application where users can upload different keto recipes including their nutrition information and add various recipes to a favorites list.</p>
</div>

